body {
	background: url("http://www.dailyufo.com/images/2013/12/swirls-twitter-background-twitter-background.jpg");
	background-size: cover;
	margin: 0px;
	padding: 0px;
}
header {
	background: rgba(255,255,255,0.5);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255 ,255, 0));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255 ,255, 0));
	margin: -50px 100px 33% 150px;
	padding: 0;
	top: 0px;
	overflow: hidden;
	text-align: center;
	display:inherit;
}
.my_face {
	position:absolute;
	border: 5px solid rgba(0, 0, 0, 0.8);
	border-radius: 200px;
	height: 250px;
	width: 250px;
	left: 50%;
	margin: -40px 0 0 -125px;
}

h1 {
	color: rgba(3,3,3,0.8);
	font-size: 70px;
}

.beneath_image {
	height: 150px;
}

.current {
	color: rgba(255, 255, 255, 0.80);
	background: rgba(255, 50, 50, 0.5);
	position: absolute;
	margin: -415px 100px 0 150px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 34px;
}

.content {
	color: rgba(0,0,0,1);
	text-align: center;
	background: rgba(255, 255, 255, 0.70);
	position: absolute;
	width: 80%;
	height: 50%;
	top: 0;
	margin: 350px 100px 0 150px;
	border: 1px solid black;
	border-radius: 5px;
	overflow: auto;
}
